.footer-section{
  .contacts{
  width: 80vw;
  margin: auto;
}
  background-color: #008575;
  color: white;
  hr{
    background-color: white;
  }
  img{
    width: 3em;
  }
  .contact{
    width: 1.5em;
  }
}
