.mission-vision{
  width: 90%;
  margin: auto;
  text-align: center;
  hr{
    margin-top: 2em;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .6);
  }
  h1{
    text-align: center;
    padding: 0.5em 0;
  }

  .icons{
    border-radius: 50%;
    width: 9em;
  }
  .callout{
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 54px -10px rgba(0,0,0,0.5);
  }
  @media screen and (min-width: 39.9375em) {
    h3{
      font-size: 1.5em;
      padding: 0.5em;
    }
    h1{
      font-size: 2em;
    }
    .callout{
      margin: 2em 0;
      padding: 3em 1em;
      box-shadow: 0px 0px 30px -16px rgba(0,0,0,0.75);
    }
  }
}
