.off-canvas-menu{
  height: 2.4em;
  background-color: black;
  .canvas-link {
    color: #f9f9f0;
    &:hover {
      font-weight: 100;
    }
  }
  button {
    margin: 0.7em 0.8em;
    padding: 0.2em 0.9em;
  }
  #offCanvas {
    display: flex;
    align-items: center;
    ul {
      width: 100%;
      li {
        padding: 0.8em;
        &:hover {
          background-color: gray;
          a {
            color: white;
          }
        }
        a {
          color: #000;
        }
      }
    }
  }
  .off-canvas{
    height: 100vh;
  }
}
