.product{
  img{

  }
  .zoom{
    transition: transform .2s;
  }
  .zoom:hover {
    transform: scale(1.5);
  }
  text-align: center;
  align-items: center;
  justify-content: center;
  img{
    padding: 1em;
  }
  .button{
    font-weight: bold;
    border-radius: 5%;
    padding: 1.5em;
    width: 25%;
    background-color: #FF7F00;
    &:hover{
      background-color: #FF4F00;
    }
  }
}
