.customers{
  position: relative;
  color: white;
  text-align: center;
  align-items: center;
  h2{
    padding-top: 1em;
  }
  img{
    width: 1em;
  }
  .pre{
   position: absolute;
   top: 14em;
   left: 0;
  }
  .fore{
   position: absolute;
   top: 14em;
    right: 0;
  }
  .parallax{
    padding: 1em;
    background-image: url("../img/parallax.jpg");
    box-shadow: inset 0 0 0 1000px rgba(255,99,71,.7);
        height: 100%; 
        background-attachment: fixed;
    p{
      font-weight: bold;
      text-align: center;
    }
    img{
    width: 6em;
  }

  }
}
