.services-solutions{
  width: 70%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  p{
    font-size: 13px;
    font-weight: bold;
  }
  img{
    padding-bottom: 2em;
  }
  .button{
    width: 20%;
    padding: 1rem;
  }
}
