.top-bar{
  padding: 0rem;
  .top-bar-left{
    position: relative;
  }
  .top-bar-right{
    position: absolute;
    right: 0;
    a{
      padding: 1.6em;
      color: white;
      background-color: #3a8675;
      &:hover {
        color: #3a8675;
        background-color: white;
        transition: 0.4s;
      }
    }
  }
}
