{{> _offCanvas}}
{{> _topbar}}
<div class="products-page">
  <h1>Elcom Engineered Products</h1>
  <h2> Hydraulic Systems</h2>
  <hr></hr>
  <div class="grid-x grid-padding-x">
    {{#each hydraulics}}
    <div class="cell medium-3">
      <img data-open="exampleModal1" src="./assets/img/{{this.src}}" alt="{{this.alt}}"/>
      <div class="reveal" id="exampleModal1" data-reveal>
        <img src="./assets/img/{{this.src}}" alt="{{this.alt}}"/>
        <h1>{{this.title}}</h1>
        <p>{{this.description}}</p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <button class="button">Order Now!</button>
      </div>
    </div>
    {{/each}}
  </div>
  <h2> Diesel Generator sets</h2>
  <hr></hr>
  <div class="grid-x grid-padding-x">
    {{#each generators}}
    <div class="cell medium-3">
      <img data-open="exampleModal1" src="./assets/img/{{this.src}}" alt="{{this.alt}}"/>
      <div class="reveal" id="exampleModal1" data-reveal>
        <img src="./assets/img/{{this.src}}" alt="{{this.alt}}"/>
        <h1>{{this.title}}</h1>
        <p>{{this.description}}</p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <button class="button">Order Now!</button>
      </div>
    </div>

    {{/each}}
  </div>
  <h2> Mobile lighting power</h2>
  <hr></hr>
  <div class="grid-x grid-padding-x">
    {{#each mobile}}
    <div class="cell medium-3">
      <img data-open="exampleModal1" src="./assets/img/{{this.src}}" alt="{{this.alt}}"/>
      <div class="reveal" id="exampleModal1" data-reveal>
        <img src="./assets/img/{{this.src}}" alt="{{this.alt}}"/>
        <h1>{{this.title}}</h1>
        <p>{{this.description}}</p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <button class="button">Order Now!</button>
      </div>
    </div>
    {{/each}}
  </div>
</div>
