<div class="footer-section">
  <div class="contacts grid-x">
    <div class="cell medium-5">
  <h2>Get In touch</h2>
  <hr></hr>
  <p><img class="contact" src="./assets/img/mail.png" alt="gmail logo"/>info@jackomolo.elcom</p>
  <p><img class="contact" src="./assets/img/phone.png" alt="phone logo"/>+254711 906626</p>
  <p> <img class="contact" src="./assets/img/whatsapp.png" alt="whatsapp logo"/>+2543377 37363</p>
  <img src="./assets/img/facebook.png" alt="facebook logo"/>
  <img src="./assets/img/twitter.png" alt="twitter logo"/>
  <img src="./assets/img/linkedin.png" alt="linkedin logo"/>
  <img src="./assets/img/instagram.png" alt="instagram logo"/>
    </div>
    <div class="cell medium-7">
    </div>
  </div>
</div>
