<div class="landings">
  <div class="orbit" role="region" aria-label="Elcom Engineered pictures" data-orbit>
    <div class="orbit-wrapper">
      <div class="orbit-controls">
        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
      </div>
      <ul class="orbit-container">
        <li class="is-active orbit-slide">
          <figure class="orbit-figure">
            <img class="orbit-image" src="./assets/img/generator.jpg" alt="Elcom products">
            <figcaption class="orbit-caption">The X-Class 4000 Honda Generator</figcaption>
          </figure>
        </li>
        <li class="orbit-slide">
          <figure class="orbit-figure">
            <img class="orbit-image" src="./assets/img/generator1.jpeg" alt="Elcom Products">
            <figcaption class="orbit-caption">Lets Rocket!</figcaption>
          </figure>
        </li>
        <li class="orbit-slide">
          <figure class="orbit-figure">
            <img class="orbit-image" src="./assets/img/generator3.jpg" alt="Elcom Products">
            <figcaption class="orbit-caption">Anothe other Machine</figcaption>
          </figure>
        </li>
        <li class="orbit-slide">
          <figure class="orbit-figure">
            <img class="orbit-image" src="./assets/img/generator4.jpg" alt="Elcom Products">
            <figcaption class="orbit-caption">Another machine</figcaption>
          </figure>
        </li>

      </ul>
    </div>
    <nav class="orbit-bullets">
      <button class="is-active" data-slide="0"></button>
      <button data-slide="1"></button>
      <button data-slide="2"></button>
      <button data-slide="3"></button>
    </nav>
  </div>
</div>
