<div class="mission-vision">
  <hr>
  <h1>What We Stand For </h1>
  <div class="grid-x grid-padding-x callout">
    <div class="cell medium-4">
      <img class="icons" src="./assets/img/vision.svg" alt="elcom mission icon"/><br>
    </div>
    <div class="cell medium-8">
      <h3>Our mission</h3>
      <p>CoLorem Ipsum iis not simply random text. It has roots in a pientrary to popular belief, Lorem Ipsum iis not simply random text. It has roots in a pieces not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making </p>
    </div>
  </div>
  <div class="grid-x grid-padding-x callout">
    <div class="cell medium-4 hide-for-medium show-for-small">
      <img class="icons" src="./assets/img/mission.png" alt="elcom vision icon"/><br>
    </div>
    <div class="cell medium-8">
      <h3>Our Vision</h3>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random teLorem Ipsum iis not simply random text. It has roots in a pieis not simply random text. It has roots in a piecext. It has roots in a piece of classical Latin literature from 45 BC, making </p>
    </div>
    <div class="cell medium-4 show-for-medium">
      <img class="icons" src="./assets/img/mission.png" alt="elcom vision icon"/><br>
    </div>
  </div>
  <div class="grid-x grid-padding-x callout">
    <div class="cell medium-4">
      <img class="icons" src="./assets/img/core-values.png" alt="elcom core values icon"/><br>
    </div>
    <div class="cell medium-8">
      <h3>Our Core Values</h3>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random teis not simply random text. It has roots in a piecext. It has Lorem Ipsum iis not simply random text. It has roots in a pieroots in a piece of classical Latin literature from 45 BC, making </p>
    </div>
  </div>
</div>
