<div class="off-canvas-menu hide-for-medium">
<button type="button" class="menu-icon" data-toggle="offCanvas"></button>
<a class="canvas-link" data-toggle="offCanvas">Elcom Engineered</a>
<div class="off-canvas position-right" id="offCanvas" data-off-canvas>

  <button class="close-button" aria-label="Close" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <ul class="vertical menu">
    <li><a href="#">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Brands</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</div>
<div class="off-canvas-content" data-off-canvas-content>
</div>
</div>
