<div class="product">
  <hr></hr>
  <h1> Our Products</h1>
  <hr></hr>
  <div class="show-for-medium">
  <div>
  <img class="zoom" src="./assets/img/product1.png"/>
  <img class="zoom" src="./assets/img/product1.png"/>
  <img class="zoom" src="./assets/img/product1.png"/>
  <img class="zoom" src="./assets/img/product1.png"/>
  <img class="zoom" src="./assets/img/product1.png"/>
  </div>
  <div>
    <a href="products.html"> <p class="button">View All Our Products</p></a>
  </div>
  </div>
  <div class="show-for-small hide-for-medium">
  <img class="zoom" src="./assets/img/product1.png"/>
  <a href="products.html"> <button class="button">Order Now</button></a>
  <img class="zoom" src="./assets/img/product1.png"/>
  <a href="products.html"> <button class="button">Order Now</button></a>
  <img class="zoom" src="./assets/img/product1.png"/>
  <a href="products.html"> <button class="button">Order Now</button></a>
  </div>
</div>
