<hr></hr>
<div class="customers">
  <p>Reviews From our Users</p>
  <div class="orbit" role="region" aria-label="Elcom Engineered pictures" data-orbit>
    <div class="orbit-wrapper">
      <div class="orbit-controls">
        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
      </div>
      <div class="parallax">
        <ul class="orbit-container">
          <li class="orbit-slide">
        <h2>~Malcolm Peter~</h2>
        <p> I have had a nice experience working with Elcom Engineered!</p>
        Ratings:
        <img src="./assets/img/stars.png"/>
          </li>
          <li class="orbit-slide">
        <h2>~Getty Orawo~</h2>
        <p> I have had a nice experience working with Elcom Engineered!</p>
        Ratings:
        <img src="./assets/img/stars.png"/>
          </li>
          <li class="orbit-slide">
        <h2>~Sigu Magwa~</h2>
        <p> I have had a nice experience working with Elcom Engineered!</p>
        Ratings:
        <img src="./assets/img/stars.png"/>
          </li>
          <li class="orbit-slide">
        <h2>~Kevin Santos~</h2>
        <p> I have had a nice experience working with Elcom Engineered!</p>
        Ratings:
        <img src="./assets/img/stars.png"/>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


