<div class="services-solutions">
<h1>Solutions & Services</h1>
<hr></hr>
<img src="./assets/img/elcom-logo.png" alt="elcom engineered logo"/>
<p>simply dummy text  of the printing and ummy text ever since t of the printing and ummy text ever since tof the printing and ummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
<p class="button">View Solutions</p>
<p class="button">View Services</p>
</div>
