<div class="top-bar show-for-medium">
<div class="top-bar-left">
  <img src="./assets/img/logo-bar.png" alt="Elcom Logo Bar"/>
</div>
<div class="top-bar-right">
  <ul class="menu">
    <a href=""><li>Home</li></a>
    <a href=""><li>About</li></a>
    <a href=""><li>Products</li></a>
    <a href=""><li>Solutions</li></a>
    <a href=""><li>Services</li></a>
    <a href=""><li>Brands</li></a>
    <a href=""><li>Contact Us</li></a>
  </ul>
</div>
</div>
